<div mat-dialog-content>
  <p></p>
  <mat-form-field appearance="fill" class="user-edit-textarea-container">
    <mat-label>Your Post</mat-label>
    <textarea matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="10"
              [(ngModel)]="data.content">
    </textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="data">Save changes</button>
  <button mat-raised-button color="warn" (click)="onNoClick()">Abort</button>
</div>
