.icon {
  color: #ffffff;
  position: fixed;
  left: 200px;
  top: 20px;
  z-index: 99;
}

.field{
  white-space: nowrap;
}
.text {
  background-color: rgba(102, 168, 98, 0);
  height: 30px;
  width: 150px;
  border-radius: 5px;
  z-index: 99;
  position: fixed;
  left: 250px;
  top: 14px;
  font-size: 1.5em;

}

.text1{
  display: inline-block;
  width: 57px;
}
.text2{
  display: inline-block;
  width: 45px;

}
.text3{
  display: inline-block;
  width: 20px;
}
.text4{
  display: inline-block;
  width:50px;
}
