.icon {
  color: #ffffff;
  position: fixed;
  left: 200px;
  top: 20px;
}

.text {
  background-color: rgba(102, 168, 98, 0);
  height: 30px;
  width: 150px;
  border-radius: 5px;

  position: fixed;
  left: 280px;
  top: 15px;
  text-align: center;

}
