.user-container{
  padding: 50px 0 0   150px;
}
.user-card {
  max-width: 80%;
}

.user-image {
  background-size: cover;
}

.user-footer{
  padding: 0 0 10px 15px;
}
.user-badge{

  pointer-events: none;
  cursor: default;

}

