<mat-card class="post-card">
  <mat-card-header>
    <div mat-card-avatar class="user-default-img-container" *ngIf="!postObject.author.profile_picture">
      <mat-icon class="user-default-img">face</mat-icon>
    </div>
    <div mat-card-avatar class="user-image" *ngIf="postObject.author.profile_picture">
      <img src="{{postObject.author.profile_picture}}" alt="image">
    </div>
    <mat-card-title>
      <a [routerLink]="['/forum/users', postObject.author.id]">{{postObject.author.name}}</a> answered
      on {{postObject.date}}
      <span class="spacer"></span>
      <button mat-mini-fab color="primary" *ngIf="canEditPost()"
              (click)="editPost()"
              matTooltip="Edit Post"
              [matTooltipShowDelay]="500">
        <mat-icon>edit</mat-icon>
      </button>
      <span class="spacer"></span>
      <button mat-mini-fab color="warn" *ngIf="canEditPost()"
              (click)="openDeletePostDialog()"
              matTooltip="Delete Post"
              [matTooltipShowDelay]="500">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="replyBox">
    <div *ngIf="!editing">
      <div *ngFor="let element of contentArray">
        <div *ngIf="isDiv(element)" [textContent]="element.textContent">
        </div>
        <blockquote class="repBlockquote" *ngIf="isBlock(element)">
          <div *ngFor="let subelement of element.children">
            <a [routerLink]="['/forum/users', subelement.getAttribute('replyUserId')]">
              <p *ngIf="isP(subelement)" [textContent]="subelement.textContent">
              </p>
            </a>
            <div *ngIf="isDiv(subelement)" [textContent]="subelement.textContent">
            </div>
          </div>
        </blockquote>
      </div>
    </div>
    <div *ngIf="editing" id="replyBox" class="replyBox" contenteditable="true">
      <div *ngFor="let element of contentArray">
        <div *ngIf="isDiv(element)" [textContent]="element.textContent">
        </div>
        <blockquote class="repBlockquote" *ngIf="isBlock(element)">
          <div *ngFor="let subelement of element.children">
            <p *ngIf="isP(subelement)" [textContent]="subelement.textContent">
            </p>
            <div *ngIf="isDiv(subelement)" [textContent]="subelement.textContent">
            </div>
          </div>
        </blockquote>
      </div>
    </div>
    <button *ngIf="editing" mat-raised-button (click)="editContent()">DONE</button>
    <!--<p *ngIf="vEnabled" #content></p>
    <p *ngIf="!vEnabled"> {{postObject.content}} </p>-->
  </mat-card-content>
  <mat-card-actions class="spacer">
        <span class="stretch-badge" matBadge="{{postObject.likedFrom.length}}" matBadgeSize="small"
              matBadgePosition="above before" matBadgeColor="primary">
          <button mat-button (click)="likePostButton()">LIKE</button>
        </span>
    <button mat-button>SHARE</button>
    <button mat-button (click)="replyPostEvent.emit(postObject)">REPLY</button>
    <button mat-button>REPORT</button>
  </mat-card-actions>
</mat-card>

