<mat-dialog-content>
  <mat-form-field appearance="fill" class="password-register-input-container">
    <mat-label>Enter new password</mat-label>
    <input matInput [(ngModel)]="this.password" [type]="hide ? 'password' : 'text'" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>


  <mat-form-field appearance="fill" class="repeatPassword-register-input-container">
    <mat-label>Repeat new password</mat-label>
    <input matInput [(ngModel)]="this.passwordRepeat" [type]="hide ? 'password' : 'text'" required>
  </mat-form-field>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="change()">Change Password</button>
  <button mat-raised-button color="warn" class="close" (click)="close()">Abort</button>
</div>

