.container{
  min-width: 85%;

}


.side-content-container{
  padding: 35px 0 5px 20px ;
}
//.side-content-card{
//
//  width: 100%;
//}
.spacer{
  padding: 0  0 0 20px  ;
}
.spacer-form-field{
  padding: 0 0 0 10px  ;
}

.userlist{
  font-weight: normal;
  font-style: normal;
}
