.container {
  min-width: 85%;
}

.sidecontent-thread-text {
  color: #0c5fcb;
}

.sidecontent-users-list {
  word-wrap: break-word
}


mat-list-item {
  //height: 2px !important;
  //width: 100px !important;
  left: -7px
}

.side-content-container {
  padding: 35px 0 5px 20px;
}

.spacer {
  padding: 0 0 0 20px;
}

.padding {
  margin-bottom: 60px;
}

.spacer-form-field {
  padding: 0 0 0 10px;
}

.footer-spacer {
  padding: 45px
}

.userlist {
  font-weight: normal;
  font-style: normal;
  margin-bottom: 20px;
}

.sidecontent-users {
  font-size: 25px;
}

.loading-container {
  padding: 150px 0 5px 20px;
  min-width: 100%;
}

loading-spinner-container {
  margin: 0 auto;
}

h2.loading-text {
  text-align: center;
}


.loading-spinner {
  margin: 0 auto;
  margin-bottom: 25px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

::ng-deep.settings-menu {
  min-width: 300px !important;
}

.threadList {
  min-width: 296px;
  padding-bottom: 55px;
}
