<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-md-9 col-lg-8">
        <div *ngIf="this.accessBackend | async as access; else loadingAccess">

          <app-category *ngFor="let category of access.categories"
                        [categoryObject]="category"
                        [showFull]="showFull"
          ></app-category>
          <div class="padding"></div>
        </div>
        <ng-template #loadingAccess>
          <div class="loading-container">
            <div class="loading-spinner-container">
              <mat-spinner class="loading-spinner"></mat-spinner>
              <h2 class="loading-text">Loading ...</h2>
            </div>
          </div>
        </ng-template>
      </div>
      <div class="col-xs-2 col-md-3 col-lg-4">
        <div class="side-content-container">
          <button color="primary" (click)="openCreateThreadDialog()" mat-raised-button *ngIf="canCreate()">Create
            Thread
          </button>

          <span class="spacer"></span>
          <mat-form-field>
            <input type="search" matInput placeholder="Search"
                   [(ngModel)]="searchQuery"
                   (keyup.enter)="clickSearch()"
            >
          </mat-form-field>
          <button mat-icon-button color="primary"
                  aria-label="Example icon button with a home icon"
                  (click)="clickSearch()">
            <mat-icon>search</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
            <mat-icon>expand_more</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="settings-menu" xPosition="before">
            <mat-radio-group [(ngModel)]="whereToSearch" color="primary"
                             aria-labelledby="example-radio-group-label"
                             class="example-radio-group">
              <mat-radio-button class="example-radio-button" (click)="$event.stopPropagation()" [value]="searchP"
                                *ngFor="let searchP of searchParas">
                Search {{searchP}}
              </mat-radio-button>

            </mat-radio-group>
          </mat-menu>
        </div>
        <div *ngIf="sideContentUsers | async as sideContentObj; else loadingUsers"
             class="sidecontent-users-list-container">
          <mat-card class="userlist" *ngIf="sideContentObj.data.length > 0">
            <mat-card-title class="sidecontent-users">
              Registered Users
            </mat-card-title>
            <span *ngFor="let user of sideContentObj.data; let i = index"
                  [routerLink]="['/forum/users', user.id]"
                  class="sidecontent-users-list">
              <a [routerLink]="['/forum/users', user.id]"> {{user.name}}</a>
              ,
            </span>
            ...
          </mat-card>
        </div>
        <ng-template #loadingUsers>
          <mat-card class="userlist">
            <mat-card-title class="sidecontent-users">
              Loading content ...
            </mat-card-title>
            <!--            <p>Loading content...</p>-->
          </mat-card>
        </ng-template>
        <div *ngIf="sideContentThreads | async as sideContentObj;">
          <mat-card class="threadList">
            <mat-card-title class="sidecontent-thread">
              Threads
            </mat-card-title>
            <mat-nav-list>
              <mat-list-item *ngFor="let thread of sideContentObj.threads" [routerLink]="['/forum/threads', thread.id]">
                <div class="sidecontent-thread-text" mat-line>{{thread.title}}</div>
                <div class="sidecontent-thread-text" mat-line>Date: {{formatDate(thread.date)}}</div>
                <mat-divider></mat-divider>
              </mat-list-item>
            </mat-nav-list>
            <ng-template #loadingThreads>
              <p>Loading ...</p>
            </ng-template>
          </mat-card>
        </div>

      </div>
    </div>
  </div>
</div>
<div *ngIf="showFull" class="footer-spacer"></div>
