<mat-dialog-content>
  <mat-form-field appearance="fill" class="username-register-input-container">
    <mat-label>Enter username</mat-label>
    <input matInput [(ngModel)]="this.username" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Choose your Birthdate</mat-label>
    <input matInput [matDatepicker]="picker" required [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="multi-year" [startAt]="startDate"></mat-datepicker>
  </mat-form-field>
  <p></p>
  <mat-form-field appearance="fill" class="picture-container">
    <mat-label *ngIf="isPicked()">Choose your Profile Picture</mat-label>
    <mat-toolbar class="toolbar-container">

      <input matInput [(ngModel)]="fileAttr" readonly name="name" class="default-text"/>
      <button mat-flat-button color="primary">Browse File</button>
    </mat-toolbar>
    <input
      type="file"
      #fileInput
      id="uploadFile"
      (change)="uploadFileEvent($event)"
      name="uploadFile"/>

  </mat-form-field>
  <p></p>
  <mat-form-field appearance="fill" class="password-register-input-container">
    <mat-label>Enter password</mat-label>
    <input matInput [(ngModel)]="this.password" [type]="hide ? 'password' : 'text'" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="fill" class="repeatPassword-register-input-container">
    <mat-label>Repeat password</mat-label>
    <input matInput [(ngModel)]="this.passwordRepeat" [type]="hide ? 'password' : 'text'" required>
  </mat-form-field>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="registerUser()">Register</button>
  <button mat-raised-button color="warn" class="close" (click)="close()">Abort</button>
  <div class="spacer"></div>
  <button mat-raised-button color="primary" class="btn-login" (click)="openLogin()">Login</button>
</div>

