.close {
  margin-left: 62%;
}

.username-register-input-container {
  width: 100%;
}

.password-register-input-container {
  width: 100%;
}

.repeatPassword-register-input-container {
  width: 100%;
}

.spacer {
  flex: 1 1 auto
}
