<div class="outer-container">
  <h2 mat-dialog-title>Current Config:</h2>
  <mat-dialog-content class="mat-typography">
    <!--    <div *ngFor="let config of data.data">-->
    <!--      <h3>{{config.uri}}</h3>-->
    <mat-list>
      <!--        <mat-list-item> Reflected XSS({{config.rxss_difficulty}})</mat-list-item>-->
      <!--        <mat-list-item> Stored XSS({{config.sxss_difficulty}})</mat-list-item>-->
      <!--        <mat-list-item> SQL Injection({{config.sqli_difficulty}})</mat-list-item>-->
      <mat-list-item *ngFor="let config of data.data">
        <h1 matLine> {{config.uri}} </h1>
        <p matLine>
          <span> Reflected XSS </span>
          <span class="demo-2"> ({{config.rxss_difficulty}}) </span>
        </p>
        <p matLine>
          <span> Stored XSS </span>
          <span class="demo-2"> ({{config.sxss_difficulty}}) </span>
        </p>
        <p matLine>
          <span> SQL Injection </span>
          <span class="demo-2"> ({{config.sqli_difficulty}})</span>
        </p>

      </mat-list-item>
    </mat-list>


    <!--    </div>-->


    <!--    <div *ngIf="this.config$ | async as config; else loadingAccess">-->
    <!--      <div *ngFor="let pointOfAbuse of config.data">-->
    <!--        <h3>Abusable URI: {{pointOfAbuse.uri}}</h3>-->
    <!--        <p>Reflected XSS: {{pointOfAbuse.rxss_difficulty}}</p>-->
    <!--        <p>Stored XSS: {{pointOfAbuse.sxss_difficulty}}</p>-->
    <!--        <p>SQL Injection: {{pointOfAbuse.sqli_difficulty}}</p>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <ng-template #loadingAccess>-->
    <!--      <div class="loading-container">-->
    <!--        <div class="loading-spinner-container">-->
    <!--          <mat-spinner class="loading-spinner"></mat-spinner>-->
    <!--          <h2 class="loading-text">Loading ...</h2>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </ng-template>-->
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button (click)="close()" color="primary" cdkFocusInitial>Dismiss</button>
  </mat-dialog-actions>
</div>
