<div mat-dialog-content>

  <mat-form-field appearance="fill" class="user-edit-input-container">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="data.title">
  </mat-form-field>
  <p></p>

  <mat-form-field appearance="fill" class="user-edit-textarea-container">
    <mat-label>About</mat-label>
    <textarea matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="10"
              [(ngModel)]="data.content">

    </textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (keyup.enter)=data [mat-dialog-close]="data" cdkFocusInitial>Save changes
  </button>
  <button mat-raised-button color="warn" (click)="onNoClick()">Abort</button>
</div>
