.thread-container {
  padding: 40px 0 0 125px;
  //height: 100%;
  background-color: inherit;
  //  Fix: inherit won't work. Maybe import from service
}

.thread-user-icon {
  transform: scale(0.93);
  position: relative;
  top: 7px;
  right: -5px;
}

.thread-date-icon {
  transform: scale(0.93);
  position: relative;
  top: 7px;
}

.spacer {
  margin-right: 5px;
}

.title {
  font-size: 25px;
}

.thread-card {
  max-width: 70%;
  font-size: 20px !important;
  box-shadow: none !important;
  background-color: transparent;
}

.user-image-header {
  background-size: cover;
}

.thread-footer {
  padding: 0 0 10px 15px;
}

.thread-posts {
  padding: 15px 0 0 45px;
}

.post-card {
  max-width: 60%;
  align-self: center;
}

.thread-buttons {
  float: right;
  position: relative;
  top: -10px;
}

.thread-actions {
  position: relative;
  right: -30px;
}

.spacer {
  padding: 0 0 0 10px;
}

.mat-badge-content {

  width: auto;
  display: grid;
  min-width: 18px;
  min-height: 18px;
  text-align: center;
  align-items: center;
  padding: 1px;
  // border-radius: 10px;

}

.stretch-badge > .mat-badge-content {
  width: auto;
  border-radius: 14px;
  right: unset !important;
}

.moveToPost {
  background: none;
  border: none;
}

.footer-spacer {
  padding: 45px
}

.user-default-img-container {
  position: relative;
  left: 15px;
  top: 11px;
  transform: scale(1.7);

}

.user-image {
  position: relative;
  left: 3px;
}

img {
  width: 43px;
  height: 43px;
  border-radius: 50%;
}
