<div class="thread-container" id="{{threadObject.id}}">
  <mat-card class="thread-card">
    <mat-card-header>
      <div mat-card-avatar class="user-default-img-container" *ngIf="!this.getUserPicture(threadObject.author.id)">
        <mat-icon class="user-default-img">face</mat-icon>
      </div>
      <div mat-card-avatar class="user-image" *ngIf="this.getUserPicture(threadObject.author.id)">
        <img src="{{this.getUserPicture(threadObject.author.id)!.src}}" alt="image">
      </div>
      <mat-card-title>
        <div>
          <span #title *ngIf="vEnabled"></span>
          <span *ngIf="!vEnabled">{{threadObject.title}}</span>
          <span class="spacer"></span>
          <button mat-mini-fab color="primary" *ngIf="canEditThread()"
                  (click)="openEditThreadDialog()"
                  matTooltip="Edit Thread"
                  [matTooltipShowDelay]="500">
            <mat-icon>edit</mat-icon>
          </button>
          <span class="spacer"></span>
          <button mat-mini-fab color="warn" *ngIf="canEditThread()"
                  (click)="openDeleteThreadDialog()"
                  matTooltip="Delete Thread"
                  [matTooltipShowDelay]="500">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card-title>
      <mat-card-subtitle>{{threadObject.date}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="vEnabled" #content></p>
      <p *ngIf="!vEnabled"> {{this.threadObject.content}} </p>
    </mat-card-content>
    <mat-card-actions class="spacer">
      <span class="stretch-badge" matBadge="{{threadObject.likedFrom.length}}" matBadgeSize="small"
            matBadgePosition="above before" matBadgeColor="primary">
        <button mat-button (click)="likeThreadButton()">LIKE</button>
      </span>
      <button mat-button>SHARE</button>
      <button mat-button (click)="openCreateDialog()">REPLY
      </button>
      <button mat-button>REPORT</button>
    </mat-card-actions>
    <mat-card-footer class="thread-footer"><a
      [routerLink]="['/forum/users', threadObject.author.id]">{{threadObject.author.username}}</a></mat-card-footer>
  </mat-card>
  <div class="thread-posts" *ngFor="let post of threadObject.posts" id="{{post.id.toString()}}">
    <app-post [postObject]="post"
              (createPostEvent)="createPostConsumer($event)"
              (deletePostEvent)="openDeletePostConsumer($event)"
              (moveToPostEvent)="moveToPost($event)"></app-post>
  </div>
</div>
<div class="footer-spacer"></div>
