<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-xs-11 col-md-10 col-lg-9" >

        <div class = "categories">
          <app-category *ngFor="let category of accessData.categories"
                        [categoryObject]="category"
          ></app-category>
        </div>
      </div>

      <div class="col-xs-1 col-md-2 col-lg-3">

        <div class="side-content-container">
          <button color="primary" (click)="openDialog()" mat-raised-button>Create Thread</button>
          <span class="spacer"></span>
            <mat-icon >search</mat-icon>
          <span class="spacer-form-field"></span>
            <mat-form-field >
              <input type="tel" matInput placeholder="Search">
            </mat-form-field>



        </div>

<!--        <div class="side-content-container">-->
<!--                <mat-card class="side-content-card">-->
<!--                  <mat-card-title>Actions Buttons</mat-card-title>-->
<!--                  <mat-card-subtitle>Start</mat-card-subtitle>-->
<!--                  <mat-card-actions>-->
<!--                    <button mat-button>LIKE</button>-->
<!--                    <button mat-button>SHARE</button>-->
<!--                  </mat-card-actions>-->
<!--                </mat-card>-->
<!--        </div>-->
      </div>

    </div>
  </div>
</div>




<!--#        <mat-list>-->
<!--  <mat-list-item *ngFor="let category of accessData.categories">-->
<!--    <app-category [categoryObject]="category"></app-category>-->
<!--  </mat-list-item>-->
<!--</mat-list>-->
