.thread-container{
  padding: 50px 0 0   150px;
}
.thread-card {
  max-width: 70%;
}

.user-image-header {
  background-size: cover;
}

.thread-footer{
  padding: 0 0 10px 15px;
}

.thread-posts{
  padding: 15px 0 0 15px;
}
.post-card{
  max-width: 60%;
  align-self: center;
}


.spacer{
  padding: 0 0 0 10px;
}
