*
!defaults/
!defaults/defaultHome.json
!defaults/defaultUsers.json
!defaults/defaultHinweise.json
!defaults/defaultHinweisauthor.json
!public/
!config/
!config/smallUsers.json
!config/vulnerabilities.json
!config/vulnRoutes.json
!.gitignore
