*
!defaults/
!defaults/defaultHome.json
!defaults/defaultUsers.json
!defaults/defaultHints.json
!defaults/defaultHintAuthor.json
!public/
!config/
!config/smallUsers.json
!config/vulnerabilities.json
!config/vulnRoutes.json
!.gitignore
