<mat-dialog-content>
  <mat-form-field appearance="fill" class="username-contact-input-container">
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="data.username">
  </mat-form-field>
  <p></p>
  <mat-form-field appearance="fill" class="topic-contact-input-container">
    <mat-label>Topic</mat-label>
    <input matInput [(ngModel)]="data.topic">
  </mat-form-field>
  <p></p>
  <mat-form-field appearance="fill" class="message-contact-input-container">
    <mat-label>Message</mat-label>
    <textarea matInput rows = "24" [(ngModel)]="data.message"></textarea>
  </mat-form-field>
</mat-dialog-content>
<button mat-raised-button color="primary" (click)="sendFile()">Send</button>
<button mat-raised-button color="warn" class = "close" (click)="close()">close</button>
