<div mat-dialog-content>
  <section>
    <mat-checkbox class="reply-button-spacer" disableRipple="true" color="primary" [(ngModel)]="data.showReply">Show
      reply
    </mat-checkbox>
  </section>
  <p *ngIf="data.showReply">{{data.reply}}</p>
  <p></p>
  <mat-form-field appearance="fill" class="user-create-textarea-container">
    <mat-label>Your Post</mat-label>
    <textarea matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="10"
              [(ngModel)]="data.content">

    </textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Save changes</button>
  <button mat-raised-button color="warn" (click)="onNoClick()">Abort</button>
</div>
