table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}


.detail-row {
  height: 0;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.detail-table {
  background: rgba(154, 154, 154, 0.45);
  text-align: left;
}

.mat-column-vulPoints {
  width: 15%;
}

.mat-column-vulName {
  width: 30%;
}

.scoreboard-button {
  position: relative;
  top: -25px;
}

.collapse-expand-button {
  position: relative;
  top: -3px;

}

.outer-container {
  padding: 30px;
  min-width: 730px;
}

.resetDatabase {
  float: right
}

.resetScoreboard {
  float: right;
  margin-right: 15px;
}

//::ng-deep .snack-bar-background {
//  background: #afafaf !important;
//}
