<div class="outer-container">
  <mat-card class="search-card">
    <mat-card-header>
      <mat-card-title>

        <mat-form-field class="search-field-size">
          <input type="search" matInput
                 placeholder="Search"
                 [(ngModel)]="newSearchQuery"
                 (keyup.enter)="clickSearch()">

        </mat-form-field>
        <button mat-icon-button color="primary"
                aria-label="Example icon button with a home icon"
                (click)="clickSearch()">

          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
          <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="settings-menu" xPosition="before">
          <mat-radio-group [(ngModel)]="whereToSearch" color="primary"
                           aria-labelledby="example-radio-group-label"
                           class="example-radio-group">
            <mat-radio-button class="example-radio-button" (click)="$event.stopPropagation()" [value]="searchP"
                              *ngFor="let searchP of searchParas">
              Search {{searchP}}
            </mat-radio-button>

          </mat-radio-group>
        </mat-menu>
        <div>Search Result for Query:
          <span *ngIf="!vEnabled"> {{this.currentSearchQuery}}</span>
          <span *ngIf="vEnabled" #search></span>
        </div>
      </mat-card-title>
    </mat-card-header>

    <div *ngIf="search.threads.length>0">
      <mat-list>
        <div mat-subheader>Threads: Found {{search.threads.length}} results.</div>
        <mat-list-item *ngFor="let thread of search.threads">
          <a [routerLink]="['/forum/threads',thread.id]">
            <div mat-line>{{thread.title}}</div>
          </a>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>

    <div *ngIf="search.posts.length>0">
      <mat-list>
        <div mat-subheader>Posts: Found {{search.posts.length}} results.</div>
        <mat-list-item *ngFor="let post of search.posts">
          <a [routerLink]="['/forum/threads', post.threadId]">
            <div mat-line>{{cutPostContent(post.content)}}</div>
          </a>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>

    <div *ngIf="search.users.length>0">
      <mat-list>
        <div mat-subheader>Users: Found {{search.users.length}} results.</div>
        <mat-list-item *ngFor="let user of search.users">
          <a [routerLink]="['/forum/users', user.id]">
            <div mat-line>{{user.name}}</div>
          </a>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>

  </mat-card>


</div>


