.outer-container {
  padding: 40px 0 60px 40px;
}

.search-card {
  max-width: 90%;
  height: 90%;
}

.spacer {
  padding: 0 0 0 10px;
}

.search-field-size {
  min-width: 400px;
  max-width: 100%;
}

.loading-container {
  padding: 150px 0 5px 20px;
  min-width: 100%;
}

loading-spinner-container {
  margin: 0 auto;
}

h2.loading-text {
  text-align: center;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

::ng-deep.settings-menu {
  min-width: 200px !important;
}
