<div class="outer-container">
  <mat-card class="search-card">
    <mat-card-header>
      <mat-card-title>


        <mat-form-field class="search-field-size">
          <input type="search" matInput
                 placeholder="Search"
                 [(ngModel)]="newSearchQuery"
                 (keyup.enter)="clickSearch()">


        </mat-form-field>
        <button mat-icon-button color="primary"
                aria-label="Example icon button with a home icon"
                (click)="clickSearch()">

          <mat-icon>search</mat-icon>
        </button>
        <h2>Search Result for Query: {{currentSearchQuery}}</h2>
      </mat-card-title>
    </mat-card-header>

    <div *ngIf="this.threads.length>0">
      <mat-list>
        <div mat-subheader>Threads: Found {{threads.length}} results.</div>
        <mat-list-item *ngFor="let thread of threads">
          <a [routerLink]="['/forum', getCategoryFromThread(thread.id).toLowerCase(),thread.slug]">
            <div mat-line>{{thread.title}}</div>
          </a>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>

    <div *ngIf="this.posts.length>0">
      <mat-list>
        <div mat-subheader>Posts: Found {{posts.length}} results.</div>
        <mat-list-item *ngFor="let post of posts">
          <a [routerLink]="['/forum/community', getThreadSlugFromPostId(post.id)]">
            <div mat-line>{{cutPostContent(post.content)}}</div>
          </a>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>

    <div *ngIf="this.users.length>0">
      <mat-list>
        <div mat-subheader>Users: Found {{users.length}} results.</div>
        <mat-list-item *ngFor="let user of users">
          <a [routerLink]="['/forum/users', user.id]">
            <div mat-line>{{user.username}}</div>
          </a>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>

  </mat-card>


</div>


