<div class="user-container">
  <mat-card class="user-card">
    <!--    <div *ngIf="routeData$ | async as data; else loading">-->

    <mat-card-header>
      <div mat-card-avatar class="user-default-img-container" *ngIf="!this.userFullObject.profile_picture">
        <mat-icon class="user-default-img">face</mat-icon>
      </div>
      <div mat-card-avatar class="user-image" *ngIf="this.userFullObject.profile_picture">
        <img src="{{this.userFullObject.profile_picture}}" alt="image">
      </div>
      <mat-card-title>
        <span *ngIf="!vEnabled">{{this.userFullObject.name}}</span>
        <span *ngIf="vEnabled" #username></span>
        <span class="spacer"></span>
        <button mat-mini-fab color="primary" *ngIf="canEdit()"
                (click)="openEditProfileDialog()"
                matTooltip="Edit Profile"
                [matTooltipShowDelay]="500">
          <mat-icon>edit</mat-icon>
        </button>

      </mat-card-title>
      <mat-card-subtitle>
        <div> Joined: {{this.userFullObject.joined}} </div>
        <div>Born: {{this.userFullObject.birth_date}} </div>
        <div *ngIf="this.userFullObject.location">From: {{this.userFullObject.location}} </div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h2>About: </h2>
      <p *ngIf="!vEnabled">{{this.userFullObject.about}}</p>
      <p *ngIf="vEnabled" #about></p>

      <mat-chip-list>
        <mat-chip class="user-badge" color="primary" selected
                  *ngFor="let role of this.userFullObject.groups">{{role}}</mat-chip>
        <mat-chip class="endorsements-container">
          <mat-chip-avatar>
            <mat-icon>star</mat-icon>
          </mat-chip-avatar>
          {{this.userFullObject.endorsements}} Endorsements
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>

    <mat-tab-group>
      <mat-tab label="Comments:  {{this.userFullObject.profile_comments.length}}">
        <mat-list>
          <mat-list-item *ngFor="let comment of this.userFullObject.profile_comments">
            <div mat-line>{{comment.content}}</div>
            <div mat-line>
              By:
              <a [routerLink]="['/forum/users', comment.UserSmall.id]">
                {{comment.UserSmall.username}}
              </a>
            </div>
            <mat-divider></mat-divider>
          </mat-list-item>
          <button color="primary" mat-mini-fab matTooltip="Add a comment" (click)="openCreateComment()">
            <mat-icon>library_add</mat-icon>
          </button>

        </mat-list>
        <!--        <button color="primary" mat-flat-button>Comment</button>-->
      </mat-tab>


      <mat-tab label="Threads: {{userThreads.length}}">
        <mat-list>
          <mat-list-item *ngFor="let thread of userThreads">
            <a [routerLink]="['/forum/thread',getSlugFromTitle(thread.title)]">
              <div mat-line>{{thread.title}}</div>
              <div mat-line>Date: {{thread.date}}</div>
            </a>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-tab>

      <mat-tab label="Posts: {{userPosts.length}}">
        <mat-list>
          <mat-list-item *ngFor="let post of userPosts">
            <a [routerLink]="['/forum/thread', getThreadFromPost(post.id)]">
              <div mat-line>{{cutPostContent(post.content)}}</div>
              <div mat-line>Date: {{post.date}}</div>
            </a>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-tab>

    </mat-tab-group>
    <!--    <mat-card-actions class="thread-actions">-->
    <!--      <button color="primary" mat-flat-button>Comment</button>-->
    <!--    </mat-card-actions>-->
    <mat-card-footer class="user-footer"></mat-card-footer>
    <!--    </div>-->
    <!--    <ng-template #loading>-->
    <!--      <div class="loading-container">-->
    <!--        <h3>Loading User ...</h3>-->
    <!--      </div>-->
    <!--    </ng-template>-->
  </mat-card>
</div>
