<div class="user-container">
  <mat-card class="user-card" *ngFor="let userFullObject of userFullArrayModel.data ">
    <mat-card-header>
      <div mat-card-avatar class="user-default-img-container" *ngIf="!userFullObject.profilePicture">
        <mat-icon class="user-default-img">face</mat-icon>
      </div>
      <div mat-card-avatar class="user-image" *ngIf="userFullObject.profilePicture">
        <img src="{{userFullObject.profilePicture}}" alt="image">
      </div>
      <mat-card-title>
        <span *ngIf="!vEnabledFrontend">{{userFullObject.name}}</span>
        <span *ngIf="vEnabledFrontend" id="name{{userFullObject.id}}"></span>
        <span class="spacer"></span>
        <button mat-mini-fab color="primary" *ngIf="canEdit(userFullObject.id)"
                (click)="openEditProfileDialog(userFullObject)"
                matTooltip="Edit Profile"
                [matTooltipShowDelay]="500">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-title>
      <mat-card-subtitle>
        <div> Joined: {{parseDate(userFullObject.joined)}} </div>
        <div>Born: {{parseDate(userFullObject.birthDate)}} </div>
        <div *ngIf="userFullObject.location">
          From:
          <span *ngIf="!vEnabledFrontend ">{{userFullObject.location}}</span>
          <span *ngIf="vEnabledFrontend" #location id="location{{userFullObject.id}}"></span>
        </div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h2>About: </h2>
      <p *ngIf="!vEnabledFrontend">{{userFullObject.about}}</p>
      <p *ngIf="vEnabledFrontend" #content id="content{{userFullObject.id}}"></p>
      <mat-chip-list>
        <!--        <mat-chip class="user-badge" color="primary" selected-->
        <!--                  *ngFor="let role of userFullObject.groups">{{role}}</mat-chip>-->
        <mat-chip class="endorsements-container">
          <mat-chip-avatar>
            <mat-icon>star</mat-icon>
          </mat-chip-avatar>
          {{userFullObject.endorsements}} Endorsements
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <mat-tab-group>
      <!--      <mat-tab label="Comments:  {{userFullObject.profileComments.length}}">-->
      <!--        <mat-list>-->
      <!--          <mat-list-item *ngFor="let comment of userFullObject.profileComments">-->
      <!--            <div mat-line>{{comment.content}}</div>-->
      <!--            <div mat-line>-->
      <!--              By:-->
      <!--              <a [routerLink]="['/forum/users', comment.userSmall.id]">-->
      <!--                {{comment.userSmall.name}}-->
      <!--              </a>-->
      <!--            </div>-->
      <!--            <mat-divider></mat-divider>-->
      <!--          </mat-list-item>-->
      <!--          <button color="primary" mat-mini-fab matTooltip="Add a comment"-->
      <!--                  (click)="openCreateComment(userFullObject.id)">-->
      <!--            <mat-icon>library_add</mat-icon>-->
      <!--          </button>-->
      <!--        </mat-list>-->
      <!--      </mat-tab>-->

      <div *ngIf="userThreads | async as userThreadsObj; else loadingThreads">
        <mat-tab label="Threads: {{userThreadsObj.data.length}}">
          <mat-list>
            <mat-list-item *ngFor="let thread of userThreadsObj.data">
              <a [routerLink]="['/forum/threads',thread.id]">
                <div mat-line>{{thread.title}}</div>
                <div mat-line>Date: {{thread.date}}</div>
              </a>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </mat-tab>
      </div>
      <ng-template #loadingThreads>
        <mat-tab label="Threads: 0">
          <mat-list>
          </mat-list>
        </mat-tab>
      </ng-template>

      <div *ngIf="userPosts | async as userPostsObj; else loadingPosts">
        <mat-tab label="Posts: {{userPostsObj.data.length}}">
          <mat-list>
            <mat-list-item *ngFor="let post of userPostsObj.data">
              <a [routerLink]="['/forum/threads', post.threadId]">
                <div mat-line>{{cutPostContent(post.content)}}</div>
                <div mat-line>Date: {{post.date}}</div>
              </a>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </mat-tab>
      </div>
      <ng-template #loadingPosts>
        <mat-tab label="Posts: 0">
          <mat-list>
          </mat-list>
        </mat-tab>
      </ng-template>
    </mat-tab-group>
    <mat-card-footer class="user-footer"></mat-card-footer>
  </mat-card>
</div>

