.user-container {
  padding: 50px 0 50px 150px;
}

.user-card {
  max-width: 80%;
  min-width: 250px;
}

.user-image {
  background-size: cover;
  height: 52px;
  width: 52px;

}

.user-default-img-container {
  background-size: cover;
  height: 52px;
  width: 52px;
  transform: scale(2);
}

.user-footer {
  padding: 0 0 10px 15px;
}

.user-badge {

  pointer-events: none;
  cursor: default;

}

.spacer {
  padding: 0 0 0 10px;
}

img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.user-default-img {
  position: absolute;
  right: 15px;
  top: 15px;

}

.endorsements-container {
  pointer-events: none;
  cursor: default;
  background-color: goldenrod !important;
}

.thread-actions {
  position: relative;
  right: -22px;
  top: 5px;
}

.btn-add-comment {
  box-shadow: none !important;
}
