.outer-container {
  padding: 30px;
}

.inner-container {
  padding-top: 20px;
}

.section-margin {
  margin: 12px 0;
}

.checkbox-margin {
  margin: 0 -12px;
}

.refresh-button {
  position: relative;
  top: -5px;

}


