<div class="outer-container">
  <h1>Vulnerabilities
    <button class="refresh-button" mat-icon-button color="primary"
            matTooltip="Save config and reload site"
            (click)="updateToDatabase()">
      <mat-icon>save</mat-icon>
    </button>
    <button class="refresh-button" mat-icon-button color="primary"
            matTooltip="Show current config"
            (click)=" showCurrentConfig()">
      <mat-icon>remove_red_eye</mat-icon>
    </button>
    <button class="refresh-button" mat-icon-button color="primary"
            matTooltip="Go to the Forum"
            (click)="goToMain()">
      Go to Forum
    </button>
    <button class="resetDatabase" mat-raised-button color="warn" (click)="resetDatabase()">Reset Database</button>
  </h1>
  <!--  <div *ngIf="this.vulnerabilities$ | async as vulnerabilities; else loadingAccess">-->
  <mat-card>
    <mat-tab-group mat-align-tabs="start">
      <mat-tab *ngFor="let vulnerability of this.curVulnerabilities.vulnerabilities" label="{{vulnerability.name}}">
        <div class="inner-container">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <app-vulnerability-picker *ngIf="vulnerability.id !== 6"
                                          [task]="vulnerability"
                                          (sendVulnerability)="updateVulnerability($event)">
                </app-vulnerability-picker>
                <app-vulnerability-picker-switch *ngIf="vulnerability.id === 6"
                                                 [task]="vulnerability"
                                                 (sendVulnerability)="updateVulnerability($event)">
                </app-vulnerability-picker-switch>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
  <!--  </div>-->
  <!--  <ng-template #loadingAccess>-->
  <!--    <div class="loading-container">-->
  <!--      <div class="loading-spinner-container">-->
  <!--        <mat-spinner class="loading-spinner"></mat-spinner>-->
  <!--        <h2 class="loading-text">Loading ...</h2>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </ng-template>-->
</div>
