<div class="outer-container">
  <h1>Vulnerabilities
    <button class="refresh-button" mat-icon-button color="primary"
            matTooltip="Save config and reload site"
            (click)="updateToDatabase()">
      <mat-icon>save</mat-icon>
    </button>
    <button class="refresh-button" mat-icon-button color="primary"
            matTooltip="Show current config"
            (click)=" showCurrentConfig()">
      <mat-icon>remove_red_eye</mat-icon>
    </button>
    <a class="refresh-button" mat-icon-button color="primary"
       matTooltip="Go to the Forum"
       [routerLink]="'/forum'">
      Go to Forum
    </a>
    <button class="resetDatabase" mat-raised-button color="warn" (click)="resetDatabase()">Reset Database</button>
    <button class="activateHelper" mat-raised-button [style.background-color]="btnColour"
            [disabled]="helperPostStatus === -1 || helperPostStatus === 1"
            (click)="activateHelperPost()">{{mapOThree.get(helperPostStatus)}}
    </button>
  </h1>
  <mat-card class="card-container">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab *ngFor="let vulnerability of this.curVulnerabilities.vulnerabilities |slice:0:8 "
               label="{{vulnerability.name}}">
        <div class="inner-container">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <app-vulnerability-picker
                  *ngIf="vulnerability.id !== 6 && vulnerability.id !== 7 && vulnerability.id !== 8"
                  [task]="vulnerability"
                  (sendVulnerability)="updateVulnerability($event)">
                </app-vulnerability-picker>
                <app-vulnerability-picker-switch
                  *ngIf="vulnerability.id === 6 ||  vulnerability.id === 7 ||  vulnerability.id === 8"
                  [task]="vulnerability"
                  (sendVulnerability)="updateVulnerability($event)">
                </app-vulnerability-picker-switch>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
