.example-spacer {
  flex: 1 1 auto;
}

.toolbar-icon {
  margin-left: 10px;
  margin-right: 10px;
  transform: scale(1.5);
}

.sidenav-icon {
  margin-right: 7px;
}

.menu-header {
  justify-content: center;
  float: left;
  font-size: 17px;
}

.menu-header-consecutive {
  justify-content: center;
  float: left;
  font-size: 17px;
  padding-top: 10px;
}


.mat-sidenav button {
  width: 180px;

}

.mat-sidenav button mat-icon {
  float: left;
}

.mat-sidenav button span {
  float: left;
}


mat-sidenav {
  margin: 16px;
  width: 220px;
  border-right: none;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

mat-sidenav-container {
  height: calc(100vh - 65px) !important;
}

.menu-button {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
    margin-right: 8px;
  }
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}


