<mat-toolbar color="primary">
  <mat-icon class="toolbar-icon">camera</mat-icon>
  <span>{{title}}</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="logout()">Logout</button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z8" mode="side" opened style="display: flex">
    <h5 class="menu-header">
      <span>Navigation</span>
    </h5>
    <button
      [routerLink]="'vulnerabilities'"
      class="menu-item"
      mat-flat-button>
      <mat-icon class="sidenav-icon">error_outline</mat-icon>
      <span>Vulnerabilities</span>
    </button>
    <button
      [routerLink]="'scoreboard'"
      class="menu-item"
      mat-flat-button>
      <mat-icon class="sidenav-icon">insert_chart_outlined</mat-icon>
      <span>Scoreboard</span>
    </button>
    <mat-divider></mat-divider>
    <h5 class="menu-header">

      <span>Quick Actions</span>
    </h5>
    <button (click)="resetScoreboard()"
            class="menu-item"
            mat-flat-button>
      <mat-icon class="sidenav-icon">restore</mat-icon>
      <span>Reset Scoreboard</span>
    </button>
    <button (click)="resetDatabase()"
            class="menu-item"
            mat-flat-button>
      <mat-icon class="sidenav-icon">settings_backup_restore</mat-icon>
      <span>Reset Database</span>
    </button>
    <button [routerLink]="'/forum'"
            class="menu-item"
            mat-flat-button>
      <mat-icon class="sidenav-icon">navigate_next</mat-icon>

      <span>Visit Forum</span>
    </button>
    <button (click)="toggleDarkMode()"
            class="menu-item"
            mat-flat-button>
      <mat-icon class="sidenav-icon">dark_mode</mat-icon>
      <span>Dark Mode</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

