<div mat-dialog-content>
  <p>Title</p>
  <mat-form-field appearance="fill">
    <mat-label></mat-label>
    <input matInput [(ngModel)]="data.title">
  </mat-form-field>
  <p>About</p>
  <mat-form-field appearance="fill" class="user-edit-textarea-container">
    <textarea matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="10"
              [(ngModel)]="data.content">

    </textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">Abort</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Save changes</button>
</div>
