.btnShowFirstLoginMessage {
  background-color: transparent;
  outline: 0;
  color: blue;
  background-color: transparent;
  border-color: transparent;

}

p {
  margin-top: -10px;
  font-size: medium;
}
