<div mat-dialog-content>
  <mat-form-field appearance="fill" class="user-create-textarea-container">
    <mat-label>Your Comment</mat-label>
    <textarea matInput
              cdkTextareaAutosize
              minlength="5"
              cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="10"
              [(ngModel)]="data">

    </textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onCreate()" cdkFocusInitial>Post comment
  </button>
  <button mat-raised-button color="warn" (click)="onNoClick()">Abort</button>
</div>
