<div mat-dialog-content>
  <p>Username</p>
  <mat-form-field appearance="fill" class="user-edit-input-container">
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="data.username">
  </mat-form-field>
  <p>Profile Picture</p>
  <mat-form-field>
    <div>
      <mat-toolbar>
        <input matInput [(ngModel)]="fileAttr" readonly name="name"/>
        <button mat-flat-button color="primary">Browse File</button>
      </mat-toolbar>
      <input
        type="file"
        #fileInput
        id="uploadFile"
        (change)="uploadFileEvt($event)"
        name="uploadFile"
        multiple="multiple"
        accept="image/*"
      />
    </div>
  </mat-form-field>
  <p>About</p>
  <mat-form-field appearance="fill" class="user-edit-textarea-container">
    <textarea matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="10"
              [(ngModel)]="data.about">

    </textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Save changes</button>
  <button mat-raised-button color="warn" (click)="onNoClick()">Abort</button>
</div>
